<a href="https://colab.research.google.com/github/Shobhit-Yadav01/Web-Developments-Programs/blob/main/Employee.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a python program with a class employee that each track of a numberof employee in an organization and also store their name, designation and salary details.

In [ ]:
"""Write a python program with a class employee that each track of a numberof employee in an organization and also store their name, designation and salary details."""

In [ ]:

class employee:
  def __init__(self,name,designation,salary):
    self.name=name
    self.designation=designation
    self.salary=salary
  def print_employee(self):
    print("Name : ",self.name)
    print("Designation : ",self.designation)
    print("Salary : ",self.salary)

employee_list=[]
n=int(input("Enter the number of employee : "))
for i in range(n):
  name=input("Enter the name of employee : ")
  designation=input("Enter the designation of employee : ")
  salary=int(input("Enter the salary of employee : "))
  employee_list.append(employee(name,designation,salary))

for employee in employee_list:
  employee.print_employee()

Enter the number of employee : 3
Enter the name of employee : Suyash
Enter the designation of employee : len den manager
Enter the salary of employee : 30
Enter the name of employee : suryansh
Enter the designation of employee : marketing head
Enter the salary of employee : 28
Enter the name of employee : sumit
Enter the designation of employee : Dad of Head
Enter the salary of employee : 32
Name :  Suyash
Designation :  len den manager
Salary :  30
Name :  suryansh
Designation :  marketing head
Salary :  28
Name :  sumit
Designation :  Dad of Head
Salary :  32

# New Section

Q2. Write a python program that has a class circle. use a class variable to define the value of constant Pi. Use this class variable to calculate area and circumference of a circle with rectified radius.

In [ ]:
""" Write a python program that has a class circle. use a class variable to define the value of constant Pi. Use this class variable to calculate area and circumference of a circle with rectified radius."""

In [ ]:
import math
class Circle:
  PI=3.14159
  def __init__(self,radius):
    self.radius=radius
  def area(self):
    return Circle.PI*self.radius*self.radius
  def circumference(self):
    return 2*Circle.PI*self.radius

circle=Circle(5)
print("Area of the circle is :",circle.area())
print("Circumference of the circle is :",circle.circumference())

Area of the circle is : 78.53975
Circumference of the circle is : 31.4159

Q3. An insurence company wants to calculate premium of vehicles. VEHICLES are of two types: Type 1st is two wheeler and Type 2nd is four wheelers.
Each vehicles are identified by a vehicle ID, Type, cost and premium amount.
Premium amount is 2% of the vehicle cost for two wheeler and 6% of the vehicles cost for four wheelers.
Calculate the premium amount and display vehicle detail.

In [ ]:
class Vehicle:
  def __init__(self,vehicle_id,type,cost):
    self.vehicle_id=vehicle_id
    self.type=type
    self.cost=cost
  def calculate_premium(self):
    if self.type=="two wheeler":
      self.premium=0.02*self.cost
    else:
      self.premium=0.06*self.cost
  def display(self):
    print("Vehicle ID:-",self.vehicle_id)
    print("Vehicle Type:-",self.type)
    print("Vehicle Cost:-",self.cost)
    print("Premium:-",self.premium)

vehicle_list=[]
n=int(input("Enter the number of vehicles:-"))
for i in range(n):
  vehicle_id=input("Enter the vehicle ID:")
  type=input("Enter the vehicle type:-")
  cost=int(input("Enter the vehicle cost:-"))
  vehicle_list.append(Vehicle(vehicle_id,type,cost))

for vehicle in vehicle_list:
  vehicle.calculate_premium()
  vehicle.display()

Enter the number of vehicles:2
Enter the vehicle ID:up78gd8244
Enter the vehicle type:four wheeler
Enter the vehicle cost:987654
Enter the vehicle ID:up54ab0191
Enter the vehicle type:two wheeler
Enter the vehicle cost:90607
Vehicle ID: up78gd8244
Vehicle Type: four wheeler
Vehicle Cost: 987654
Premium: 59259.24
Vehicle ID: up54ab0191
Vehicle Type: two wheeler
Vehicle Cost: 90607
Premium: 1812.14